{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ page.title }}{% endblock %}
{% block h1 %}{{ page.title }}{% endblock %}
{% block tagline %}{{ page.tagline }}{% endblock %}
{% block ga %}{{ page.ga }}{% endblock %}

{% block body %}
<section class="what container">
    {% for block in image_blocks.all %}
    <div class="block">
        {% if forloop.counter|divisibleby:2 %}
        <div class="text">
            <h3>{{ block.block.title }}</h3>
            {{ block.block.body|safe }}
        </div>
        {% endif %}
        <div class="image {% if forloop.counter|divisibleby:2 %}right{% endif %}">
        {% if block.block.image %}
            <img src="{{ block.block.image.url }}" />
        {% elif block.block.code %}
            <div class="highlight">
                <div class="editor">
                    <pre><code class="javascript">{{ block.block.code }}</code></pre>
                </div>
            </div>
        {% endif %}
        </div>
        {% if not forloop.counter|divisibleby:2 %}
        <div class="text">
            <h3>{{ block.block.title }}</h3>
            {{ block.block.body|safe }}
        </div>
        {% endif %}
    </div>
    {% endfor %}
</section>
<section class="why">
    <div class="grid container">
        {% for block in simple_blocks.all|slice:"0:2" %}
        <div class="cell">
            <h4>{{ block.block.title }}</h4>
            <p class="text">
                {{ block.block.body }}
            </p>
        </div>
        {% endfor %}
    </div>
    <div class="container">
        <p class="quote">
            {{ page.quote }}
        </p>
    </div>
    <div class="grid container">
     {% for block in simple_blocks.all|slice:"2:4" %}
    <div class="cell">
        <h4>{{ block.block.title }}</h4>
        <p class="text">
            {{ block.block.body }}
        </p>
    </div>
    {% endfor %}
</section>
<section class="how container">
    <div class="grid">
        {% for block in icon_blocks.all %}
        <div class="cell">
            <i class="fa {{ block.block.icon }}"></i>
            <h4>{{ block.block.title }}</h4>
            <p class="text">
                {{ block.block.body }}
            </p>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
